body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(37, 94%, 94%, 0.231);
}
#myH1 {
    font-size: 4rem;
    font-family:"Dubai Medium";
    color: hsla(240, 79%, 22%, 0.79);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px ;
    border: 1.5px solid;
    border-radius:100px ;
    background-color: rgba(128, 128, 128, 0.205);
}
#display{
    font-size: 5rem;
    font-family: monospace;
    color: hsla(0, 0%, 0%, 0.244);
    text-shadow: 2px hrgba(21, 3, 3, 0.256)
    margin-bottom 25px;
}
#control button {
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
}

button:active {
    transform: translateY(1.5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
  }